# Extracting and transforming data

How to index, slice, filter, and transform DataFrames, using a variety of datasets, ranging from 2012 US election data for the state of Pennsylvania to Pittsburgh weather data.

## Table of Contents
1. [Index ordering](## 1. Index ordering)
2. [Positional and labeled indexing](## 2. Positional and labeled indexing)
3. [Indexing and column rearrangement](## 3. Indexing and column rearrangement)
4. [Slicing rows](## 4. Slicing rows)
5. [Slicing columns](## 5. Slicing columns)
6. [Subselecting DataFrames with lists](## 6. Subselecting DataFrames with lists)
7. [Thresholding data](## 7. Thresholding data)
8. [Filtering columns using other columns](## 8. Filtering columns using other columns)
9. [Slicing rows](## 4. Slicing rows)
10. [Using .apply function to transform a column](## 10. Using .apply function to transform a column)
11. [Using .map function with a dictionary](## 11. Using .map function with a dictionary)
12. [Using vectorized functions](## 12. Using vectorized functions)

## 1. Index ordering

Import libraries

In [1]:
import pandas as pd
import numpy as np

Read dataset into a pandas Dataframe

In [2]:
filename = './datasets/2012 US election results (Pennsylvania).csv'
election = pd.read_csv(filename, index_col='county')
print(election.head())

          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin
county
Adams      27.629667
Allegheny  14.454399
Armstrong  37.204293
Beaver      6.605012
Bedford    54.929118

Select **'Bedford'** country and the **'winner'** column

In [3]:
election.loc['Bedford','winner']

'Romney'

## 2. Positional and labeled indexing

In [4]:
# Assign the row position of election.loc['Bedford']
x = 4

# Assign the column position of election['winner']
y = 4

# Print the boolean equivalence
print(election.iloc[x, y] == election.loc['Bedford', 'winner'])

True

## 3. Indexing and column rearrangement

Create a separate dataframe with the columns **['winner', 'total', 'voters']**

In [5]:
results = election[['winner', 'total', 'voters']]
print(results.head())

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189

## 4. Slicing rows

Slice the row labels **'Perry'** to **'Potter'**.

In [6]:
p_counties = election.loc['Perry':'Potter']
print(p_counties)

             state   total      Obama     Romney  winner   voters    turnout  \
county
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175

                 margin
county
Perry         38.821272
Philadelphia  71.172800
Pike          10.978242
Potter        45.898681

Slice the row labels **'Potter'** to **'Perry'** in reverse order.

In [7]:
p_counties_rev = election.loc['Potter':'Perry':-1]
print(p_counties_rev)

             state   total      Obama     Romney  winner   voters    turnout  \
county
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064

                 margin
county
Potter        45.898681
Pike          10.978242
Philadelphia  71.172800
Perry         38.821272

## 5. Slicing columns

Slice the columns from the starting column to **'Obama'**.

In [8]:
left_columns = election.loc[:, :'Obama']
print(left_columns.head())

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452

Slice the columns from 'Obama' to **'winner'**.

In [9]:
middle_columns = election.loc[:, 'Obama':'winner']
print(middle_columns.head())

               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney

Slice the columns from **'Romney'** to the end.

In [10]:
right_columns = election.loc[:, 'Romney':]
print(right_columns.head())

              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

## 6. Subselecting DataFrames with lists

In [11]:
# Create the list of row labels
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels
cols = ['winner', 'Obama', 'Romney']

# Create the new DataFrame
three_counties = election.loc[rows, cols]
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

## 7. Thresholding data

Prepare a boolean array to select all of the rows and columns where voter turnout exceeded 70%.

In [12]:
# Create the boolean array
high_turnout = election.turnout > 70

# Filter the election DataFrame with the high_turnout array
high_turnout_df = election[high_turnout]

# Print the high_turnout_results DataFrame
print(high_turnout_df)

             state   total      Obama     Romney  winner  voters    turnout  \
county
Bucks           PA  319407  49.966970  48.801686   Obama  435606  73.324748
Butler          PA   88924  31.920516  66.816607  Romney  122762  72.436096
Chester         PA  248295  49.228539  49.650617  Romney  337822  73.498766
Forest          PA    2308  38.734835  59.835355  Romney    3232  71.410891
Franklin        PA   62802  30.110506  68.583803  Romney   87406  71.850903
Montgomery      PA  401787  56.637223  42.286834   Obama  551105  72.905708
Westmoreland    PA  168709  37.567646  61.306154  Romney  238006  70.884347

                 margin
county
Bucks          1.165284
Butler        34.896091
Chester        0.422079
Forest        21.100520
Franklin      38.473297
Montgomery    14.350390
Westmoreland  23.738508

## 8. Filtering columns using other columns

Use boolean selection to filter the rows where the margin was less than 1.

In [13]:
# Create the boolean array
too_close = election.margin < 1.0

# Assign np.nan to the 'winner' column where the results were too close to call
election.loc[too_close,'winner'] = np.nan

# Print the output of election.info()
print(election.info())

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     64 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB
None

## 9. Filtering using NaNs

The dataset used was obtained from [Vanderbilt University](http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.html), which consists of data from passengers on the Titanic.

Read dataset into pandas dataFrame.

In [14]:
filename2 = './datasets/Titanic.csv'
titanic = pd.read_csv(filename2)
print(titanic.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [15]:
# Select the 'age' and 'cabin' columns: df
df = titanic[['age','cabin']]

# Print the shape of df
print(df.shape)

# Drop rows in df with how='any' and print the shape
print(df.dropna(how='any').shape)

# Drop rows in df with how='all' and print the shape
print(df.dropna(how='all').shape)

# Drop columns in titanic with less than 1000 non-missing values
print(titanic.dropna(thresh=1000, axis='columns').info())

(1309, 2)
(272, 2)
(1069, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
name        1309 non-null object
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
ticket      1309 non-null object
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.3+ KB
None

## 10. Using .apply function to transform a column

The dataset used was obtained from [Weather Underground](https://www.wunderground.com/history), which consists of the daily weather data in Pittsburgh in 2013.

Read dataset into pandas dataFrame.

In [20]:
filename3 = './datasets/Pittsburgh weather data.csv'
weather = pd.read_csv(filename3)
weather.head()

,Date,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,Mean Dew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2013-1-1,32,28,21,30,27,16,100,89,77,...,10,6,2,10,8,NaN,0.00,8,Snow,277
1,2013-1-2,25,21,17,14,12,10,77,67,55,...,10,10,10,14,5,NaN,0.00,4,NaN,272
2,2013-1-3,32,24,16,19,15,9,77,67,56,...,10,10,10,17,8,26.0,0.00,3,NaN,229
3,2013-1-4,30,28,27,21,19,17,75,68,59,...,10,10,6,23,16,32.0,0.00,4,NaN,250
4,2013-1-5,34,30,25,23,20,16,75,68,61,...,10,10,10,16,10,23.0,0.21,5,NaN,221

Function to convert degrees **Fahrenheit** to degrees **Celsius**

In [21]:
def to_celsius(F):
    return 5/9*(F - 32)

Apply the function over **'Mean TemperatureF'** and **'Mean Dew PointF'**

In [41]:
df_celsius = weather[['Mean TemperatureF','Mean Dew PointF']].apply(to_celsius)
print(df_celsius.head())

   Mean TemperatureF  Mean Dew PointF
0          -2.222222        -2.777778
1          -6.111111       -11.111111
2          -4.444444        -9.444444
3          -2.222222        -7.222222
4          -1.111111        -6.666667

Reassign the columns **df_celsius**

In [40]:
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']
print(df_celsius.head())

   Mean TemperatureC  Mean Dew PointC
0          -2.222222        -2.777778
1          -6.111111       -11.111111
2          -4.444444        -9.444444
3          -2.222222        -7.222222
4          -1.111111        -6.666667

## 11. Using .map function with a dictionary

Use a dictionary to map the values **'Obama'** and **'Romney'** in the **'winner'** column to the values **'blue'** and **'red'**, and assign the output to the new column **'color'**.

Create the dictionary: red_vs_blue

In [45]:
red_vs_blue = {'Obama':'blue', 'Romney':'red'}

Use the dictionary to map the **'winner'** column to the new column: election['color']

In [46]:
election['color'] = election['winner'].map(red_vs_blue)
print(election.head())

          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin color
county
Adams      27.629667   red
Allegheny  14.454399  blue
Armstrong  37.204293   red
Beaver      6.605012   red
Bedford    54.929118   red

## 12. Using vectorized functions

When performance is paramount, you should avoid using **.apply()** and **.map()** because those constructs perform Python for-loops over the data stored in a pandas Series or DataFrame. By using **vectorized functions** instead, you can loop over the data at the same speed as compiled code (C, Fortran, etc.)! NumPy, SciPy and pandas come with a variety of vectorized functions (called Universal Functions or UFuncs in NumPy).

Import **zscore** from **scipy.stats**

In [51]:
from scipy.stats import zscore

Call **zscore** with **election['turnout']** as input

In [54]:
turnout_zscore = zscore(election['turnout'])
print(type(turnout_zscore))

<class 'numpy.ndarray'>

Assign **turnout_zscore** to a new column

In [55]:
election['turnout_zscore'] = turnout_zscore
print(election.head())

          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin color  turnout_zscore
county
Adams      27.629667   red        0.853734
Allegheny  14.454399  blue        0.439846
Armstrong  37.204293   red        0.575650
Beaver      6.605012   red        1.018647
Bedford    54.929118   red        0.463391