# Rearranging and reshaping data

Here, you will learn how to reshape your DataFrames using techniques such as pivoting, melting, stacking, and unstacking. These are powerful techniques that allow you to tidy and rearrange your data into the format that allows you to most easily analyze it for insights.

1. [ Pivoting DataFrames. ](#1)<br>
    1.1 [ Pivoting a single variable. ](#11)<br>
    1.2 [ Pivoting all variables. ](#12)<br><br>

2. [ Stacking & unstacking DataFrames. ](#2)<br>
    2.1 [ Stacking & unstacking I. ](#21)<br>
    2.2 [ Stacking & unstacking II. ](#22)<br>
    2.3 [ Restoring the index order. ](#23)<br><br>

3. [ Melting DataFrames. ](#3)<br>
    3.1 [ Adding names for readability. ](#31)<br>
    3.2 [ Going from wide to long. ](#32)<br>
    3.3 [ Obtaining key-value pairs with melt(). ](#33)<br><br>

4. [ Pivot tables. ](#4)<br>
    4.1 [ Setting up a pivot table. ](#41)<br>
    4.2 [ Using other aggregations in pivot tables. ](#42)<br>
    4.3 [ Using margins in pivot tables. ](#43)<br><br>

<a name="1"></a>
### 1. Pivoting DataFrames

<a name="11"></a>
#### 1.1 Pivoting a single variable

Import libraries

In [1]:
import pandas as pd

Read dataset into a dataframe

In [2]:
file = "./datasets/Users.csv"
users_df = pd.read_csv(file)

Pivot **users** with focus on **'visitors'**, with the columns indexed by **'city'** and the rows indexed by **'weekday'**.

In [3]:
# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users_df.pivot(index="weekday",columns="city",values="visitors")

# Print the pivoted DataFrame
print(visitors_pivot)

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

<a name="12"></a>
#### 1.2 Pivoting all variables

Pivot **users** with focus on 'signups', with the columns indexed by 'city' and the rows indexed by 'weekday'.

In [4]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users_df.pivot(index="weekday", columns="city", values="signups")

# Print signups_pivot
print(signups_pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12

Pivot **users** without select any particular variable.

In [5]:
# Pivot users pivoted by both signups and visitors: pivot
pivot = users_df.pivot(index="weekday", columns="city")

# Print the pivoted DataFrame
print(pivot)

        Unnamed: 0        visitors        signups
city        Austin Dallas   Austin Dallas  Austin Dallas
weekday
Mon              2      3      326    456       3      5
Sun              0      1      139    237       7     12

<a name="2"></a>
### 2. Stacking & unstacking DataFrames

<a name="21"></a>
#### 2.1 Stacking & unstacking I

Set the **users_df** to a **MultiIndex**

In [6]:
users_df = users_df.set_index(["city","weekday"])
print(users_df)

                Unnamed: 0  visitors  signups
city   weekday
Austin Sun               0       139        7
Dallas Sun               1       237       12
Austin Mon               2       326        3
Dallas Mon               3       456        5

Drop the **unnamed** columns

In [11]:
users_df = users_df.loc[:, ~users_df.columns.str.match('Unnamed')]
print(users_df)

                visitors  signups
city   weekday
Austin Sun           139        7
Dallas Sun           237       12
Austin Mon           326        3
Dallas Mon           456        5

Unstack **users_df** by **'weekday'**

In [15]:
byweekday = users_df.unstack('weekday')
print(byweekday)

        visitors      signups
weekday      Mon  Sun     Mon Sun
city
Austin       326  139       3   7
Dallas       456  237       5  12
                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

Stack byweekday by **'weekday'**

In [20]:
print(byweekday.stack('weekday'))

                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

<a name="22"></a>
#### 2.2 Stacking & unstacking II

Unstack **users_df** by **'city'**

In [19]:
bycity = users_df.unstack('city')
print(bycity)

        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12

Stack **bycity** by **'city'**

In [21]:
print(bycity.stack('city'))

                visitors  signups
weekday city
Mon     Austin       326        3
        Dallas       456        5
Sun     Austin       139        7
        Dallas       237       12

<a name="23"></a>
#### 2.3 Restoring the index order

Stack **'city'** back into the index of bycity

In [23]:
newusers = bycity.stack('city')
print(newusers)

                visitors  signups
weekday city
Mon     Austin       326        3
        Dallas       456        5
Sun     Austin       139        7
        Dallas       237       12

Swap the levels of the index of **newusers** and print **newusers** to verify that the index is **not sorted**

In [24]:
newusers = newusers.swaplevel(0,1)
print(newusers)

                visitors  signups
city   weekday
Austin Mon           326        3
Dallas Mon           456        5
Austin Sun           139        7
Dallas Sun           237       12

Sort the index of **newusers**

In [26]:
newusers = newusers.sort_index()
print(newusers)

                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12

In [27]:
# Verify that the new DataFrame is equal to the original
print(newusers.equals(users_df))

False

<a name="3"></a>
### 3. Melting DataFrames

<a name="31"></a>
#### 3.1 Adding names for readability

<a name="32"></a>
#### 3.2 Going from wide to long

<a name="33"></a>
#### 3.3 Obtaining key-value pairs with melt()

<a name="4"></a>
### 4. Pivot tables

<a name="41"></a>
#### 4.1 Setting up a pivot table

<a name="42"></a>
#### 4.2 Using other aggregations in pivot tables

<a name="43"></a>
#### 4.3 Using margins in pivot tables

----------------------------------------------------------------------------------------------------------